h1{
    font-size: 300%;
}

body{
    background-color: pink;
}

body.fondo {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Fondo general */
}

.columnas {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Tres columnas con proporciones */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Envía el fondo de columnas detrás del formulario */
}

.columna {
  height: 100%;
}

.white {
  background-color: white;
}

.color {
  background-color: violet; /* Color central */
}

form {
  display: flex;
  flex-direction: column;
}

label, input, button {
  margin-bottom: 10px;
}

  .formulario {
    position: relative;
    z-index: 1; /* Asegura que el formulario esté encima del fondo de columnas */
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: black solid 2px;
}